<form [formGroup]="tableForm">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody formArrayName="students">
            <tr *ngFor="let student of students.controls; let i = index" [formGroupName]="i">
                <td><input type="text" formControlName="firstName" /></td>
                <td><input type="text" formControlName="lastName" /></td>
            </tr>
            <!-- <div *ngFor="let student of students.controls"></div> -->
        </tbody>
    </table>
    <button type="button" (click)="addStudent()">Add Student</button>
</form>
