<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="Name">Product Name</label>
                    <input type="text" id="productName" class="form-control" name="productName" #productName />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="Amout">Quantity</label>
                    <input
                        type="number"
                        id="productQuantity"
                        name="productQuantity"
                        #productQuantity
                        class="form-control"
                    />
                </div>
            </div>
            <div class="col-sm-2 form-group">
                <label for="Amout">Product Type</label>
                <input type="text" id="productType" #productType class="form-control" />
            </div>

            <div class="row">
                <div class="col-sm-12 pt-2">
                    <button class="btn" appHighlight type="submit" (click)="onAddProduct()">Add</button>
                    <button class="btn btn-danger mx-2" type="submit" (click)="onDeleteProduct()">Delete</button>
                    <button class="btn btn-primary" type="submit" (click)="onClearProduct()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
